<h1>BIENVENIDOS</h1>
<form id="menu" method='post' action='/juego'>
        <p>Indroduzca el codigo</p>
        <input style="text-align:center" type="number" name="codigo1" min="0" max="9" required="">
        <input style="text-align:center" type="number" name="codigo2" min="0" max="9" required="">
        <input style="text-align:center" type="number" name="codigo3" min="0" max="9" required="">
        <input style="text-align:center" type="number" name="codigo4" min="0" max="9" required="">
        <input type="submit" value="Empezar Juego">
</form>
